<%- include("partials/header") %>

<h1>This is the campgorunds Page!</h1>
<a href="/campgrounds/new">create new campground</a>
<% campgrounds.forEach(function (campground) { %>
    <div>
        <h4><%= campground.name %></h4>
        <img src="<%= campground.image %>" alt="">
    </div>
<% }) %>

<%- include("partials/footer") %>
